# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
RPGPack.iml

nie wiem czy czytasz live, ale mam lagi XD
wrzucam na githuba 500 plików, tnie mi jak skurwysyn